<div *ngIf="selectedHero">

    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name">
        </label>
    </div>

</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
